:root {
    --white: #f9f9f9;
    --hoverBlue: deepskyblue;
    --black: black;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}

* {
    box-sizing: border-box;
    font-size: 16px;
}

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}


body {
    margin: 0;
    width: 100%;
    background: black;
    height: 100%;
    position: relative;
    overflow: hidden;
}




ol, ul {
    list-style: none;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    cursor: pointer;
}

header {
    position: fixed;
    width: 100%;
    z-index: 4;
}

header nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

/** LOGO STYLES **/
@font-face {
    font-family: Santana-Black;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/santana-black.woff2) format('woff2'),
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/santana-black.woff) format('woff');
}

.button {
    display: flex;
    justify-content: center;
    padding: 7px 15px;
    border: 2px solid var(--white);
    color: white;
    background: transparent;
    transition: ease-in-out .3s;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    text-decoration: none;

}

h2 {
    font-size: 20px;
}

.button:hover {
    background: var(--white);
    color: black;
    border-color: var(--white);
}

.logo {
    padding: 15px;
    background: transparent;
    transition: ease-in 2s;
}

.logo svg {
    width: 80px;
    fill: transparent;
}

.logo svg textPath {
    font-size: 2em;
    transition: ease-in .5s;
}

.logo text {
    font-family: Santana-Black, sans-serif;
    fill: #fff;
    text-transform: uppercase;
}

.logo:hover {
    transform: rotate(360deg);
}

.logo:hover svg textPath {
    fill: var(--hoverBlue);
}

.fitness {
    letter-spacing: 6px;
}

header nav ul.menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: -110px;
}

.menu a {
    text-decoration: none;
    color: floralwhite;
    font-weight: bold;
    padding: 30px;
    font-family: "Open Sans", sans-serif;
    font-size: 1.1em;
    text-shadow: 1px 1px black;
    transition: ease-in-out .3s;
}

.menu a:hover {
    color: var(--hoverBlue);
}

/* menu icon */
.menu_icon {
    padding: 15px;
    display: inline-block;
    cursor: pointer;
    background: none;
    outline: none;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 4px;
    background-color: var(--white);
    margin: 6px 0;
    transition: 0.4s;
}

.menu_icon:hover .bar1, .menu_icon:hover .bar2, .menu_icon:hover .bar3 {
    background-color: var(--hoverBlue);
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 5px);
    transform: rotate(-45deg) translate(-8px, 5px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;

    min-width: 200px;
    overflow: auto;

    z-index: 1;
}

.dropdown-content a {
    color: var(--white);
    border-bottom: 1px solid var(--white);
    text-decoration: none;
    display: block;

    font-weight: bold;
    padding: 30px;
    font-family: "Open Sans", sans-serif;
    font-size: 1.1em;
    transition: ease-in-out .3s;
}

.dropdown a:hover {
    background-color: #ddd;
    color: black
}

.show {
    display: block;
}

section {
    position: relative;
}

/* Slideshow container */
.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.mySlides img {
    height: 100vh;
    object-fit: cover;

}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: var(--white);
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px black;
}

/* Number text (1/3 etc) */
.numbertext {
    color: var(--white);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 8s;
    animation-name: fade;
    animation-duration: 8s;
}


@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/* Social networks icons*/
.social_networks {
    position: fixed;
    bottom: 10px;
    left: 20px;
}

.social_networks a {
    color: var(--white);
    font-size: 1.7em;
    margin-right: 10px;
    transition: ease-in-out .3s;
}

.social_networks a:hover {
    color: var(--hoverBlue);
}


/*  SCROLL*/

.panel {
    width: 100%;
    height: 100vh;
    z-index: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

a[ id= "main" ]:target ~ .panel {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}

a[ id= "about" ]:target ~ .panel {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh);
}

a[ id= "contacts" ]:target ~ .panel {
    -webkit-transform: translateY(-200vh);
    transform: translateY(-200vh);
}


.about_fitness {
    flex-direction: column;
}

.images_framed img {
    background: black;

    border: 2px var(--white) solid;
    padding: 40px;
}

.images_framed .first {
    width: 60%;
    z-index: 4;
}


.images_framed, .about_fitness {
    padding: 30px;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_fitness {
    padding: 30px 150px 30px 0;
}

section#about {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 50px;
    color: var(--white);

}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    justify-content: flex-end;
    background-image: url("morgan-petroski-rx6wXNsXUOE-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer .box {
    position: relative;
    display: inline-block;
    width: 20%;
    vertical-align: top;
    padding-bottom: 40px;
    height: 200px;
    margin: 10px 10px 40px 10px;
    transition: ease-in-out .3s;
    background: rgba(255, 255, 255, 0.1);
}

footer .box:hover {
    background: rgba(255, 255, 255, 0.3);
}

footer .box:hover p {
    color: white;
    font-weight: bold;
}

h3 {
    text-transform: uppercase;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    color: var(--hoverBlue);
}

footer .box p {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    color: var(--white);
    z-index: 3;
}

footer .box p a {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    color: var(--white);
    transition: ease-in-out .3s;
    z-index: 3;
}

footer .box p a:hover {
    color: var(--hoverBlue);
    text-decoration: underline;
}

.map_container {
    display: flex;
    align-items: flex-end;
}

.creator {
    color: var(--white);
    width: 100%;
    font-size: 0.7em;
    padding: 20px;
}

.info-container {
    padding: 100px 0 40px;
    min-height: 300px;
    background: url("photo-1487925876428-ebd8a23ee1d4.jpeg") no-repeat fixed 100% 100%;
    background-size: cover;
    font-family: "Open Sans", sans-serif;
}

.info-container .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.info-container .title {
    font-size: 3em;
    text-align: center;
    color: white;
    padding-bottom: 60px;
}

.info-container .principle_box {
    flex-basis: 30%;
    text-align: center;
    min-height: 350px;
    min-width: 350px;
    transition: 0.3s ease-in-out;
    z-index: 7;
    background: rgba(39, 26, 67, 0.9);
    color: white;
    padding: 30px 7px 7px;
}

.first-adv {
    background: rgba(255, 255, 255, 0.75);
    background-size: cover;
    color: #333;
}

.second-adv {

}

.third-adv {
    background: rgba(51, 51, 51, 0.75);
    color: white;
}

.icon-container .icon-cont {
    display: flex;
    justify-content: center;
    padding: 40px 0 50px;
}


/*Validation Form*/

.form-container {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

form {
    width: 40%;
    padding: 45px;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.8);
    font-family: "Open Sans", sans-serif;
}



input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 9px;
    width: 100%;
    background-color: var(--white);
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
    border: 1px solid var(--white);
}

input[type=submit] {
    justify-content: center;
    padding: 7px 15px;
    border: 2px solid var(--black);
    color: var(--white);
    background: var(--black);
    margin-top: 20px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    cursor: pointer;
    transition: ease-in-out .3s;
}

.days {
    margin-bottom: 20px;
}
.days input[type=checkbox]{
    margin-right:7px;

}
.days input[type=checkbox]:not(:first-child){
    margin-left:7px;
}

#disclaimer {
    margin-right:7px;
}

label {
    display: block;
    margin-bottom: 8px;
}

select {

}

input[type=submit]:hover {
    color: var(--black);
    background: var(--white);
}

.error {
    color: #990000;
}

.reservation_bg {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('photo-1534367610401-9f5ed68180aa.jpeg');
    background-position:center top;
}